#formWrapper {
  margin-top: 40px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 4px; }
  #formWrapper #titleWrapper {
    width: 100%;
    background-color: #3B8AC7; }
    #formWrapper #titleWrapper #title {
      width: 80%;
      background-color: #3B8AC7;
      color: white;
      padding: 20px 0;
      overflow: hidden;
      margin: 0 auto; }
  #formWrapper #registrationForm {
    width: 100%;
    margin: 0 auto;
    background-color: white; }
    #formWrapper #registrationForm .text-input {
      width: 80%;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 40px;
      font-weight: 100; }
  #formWrapper #footer {
    background-color: #C9DEF0;
    width: 100%;
    margin: 0 auto; }
    #formWrapper #footer #submit {
      background-color: #3B8AC7;
      border: 1px solid #237DBC;
      margin: 20px 0 20px 20px;
      color: white;
      padding: 7px; }
