#title {
  width: 60%;
  background-color: blue;
  color: white;
  padding: 20px 0;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 4px; }

#registrationForm {
  width: 60%;
  margin: 0 auto;
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px; }
  #registrationForm .text-input {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid grey;
    font-weight: 100; }
  #registrationForm #footer {
    background-color: #C9DEF0; }
    #registrationForm #footer #submit {
      background-color: blue;
      margin: 20px 0 20px 20px;
      color: white;
      padding: 7px; }
