<!DOCTYPE html>
<html>
<head>
  <title>Registration Form</title>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
<header>
	
</header>
  <div id="registrationForm">
  <h2>Sign Up For My Web App</h2>
<div id="formWrapper">

  <div id="titleWrapper">
    <h2 id="title">Sign Up For My Web App</h2>
  </div>

  <div id="registrationForm"> 

  <form class="genericForm">
   </form>
  </div>
    
    <footer id="footer">
  <button id="submit" type="submit" value="submit">Submit Form</button>
</footer>
</div> <!-- end of form wrapper -->
 
  



<script type="text/template" id="generic-form">
	<div class="text-input form-elem">
		<i class="fa <%= obj.icon %>"></i>
		<input value="" type="<%= obj.type %>" placeholder="<%= obj.label %>" id="<%= obj.id %>">
	</div>
</script>

 <!---script type="text/template" id="generic-car">
// <div class=" selectInput">
// <i class="fa <%= obj.icon %>"></i>
// <select value="">'<%= object.type %>'</select>

// </div>
// </script-->
    <i class="fa <%= obj.icon %>"></i>

		<input value="" type="<%= obj.type %>" placeholder="<%= obj.label %>" id="<%= obj.id %>">
    

	</div>
</script>



  <script src="js/vendor.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
