<!DOCTYPE html>
<html>
<head>
  <title>Registration Form</title>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>

  <h1 id="title">Sign Up For My Web App</h2>
  <div id="registrationForm">
   

  <form class="genericForm"></form>

  </div>
<footer id="footer">
  <button id="submit" type="submit" value="submit">Submit Form</button>
</footer>

<script type="text/template" id="generic-form">
	<div class="text-input form-elem">
		<input value="" type="<%= obj.type %>" placeholder="<%= obj.label %>" id="<%= obj.id %>">
		<i class="fa <%= obj.icon %>"></i>
	</div>
</script>

  <script src="js/vendor.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
